@model QLTV.Models.Phieumuon

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Phiếu mượn sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên độc giả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docgia.Tendg)
        </dd>

        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanvien.Tennv)
        </dd>

        <dt>
            Ngày lập phiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaylapphieu)
        </dd>

        <dt>
            Ngày trả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaytra)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh mục phiếu mượn", "Index")
        </div>
    }
</div>
