@model QLTV.Models.Nhanvien

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Nhân viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tennv)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Manv }) |
    @Html.ActionLink("Trở về trang danh mục nhân viên", "Index")
</p>
