@model IEnumerable<QLTV.Models.Nhanvien>

@{
    ViewBag.Title = "Nhân viên";
}

<h2>Danh mục nhân viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
    <!-- Tìm kiếm -->
    @*@using (Html.BeginForm())
    {
    <p>
        Tìm kiếm: @Html.TextBox("searchString") <input type="submit" value="Tìm kiếm" />
    </p>
      }*@
</p>
    <table class="table">
        <tr>
            <th>
                Tên nhân viên
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tennv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaysinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gioitinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Manv }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Manv }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Manv })
                </td>
            </tr>
        }

    </table>
