@model QLTV.Models.Maloai

@{
    ViewBag.Title = "Create";
}

<h2>Thêm</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mã loại sách</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Maloaisach, "Mã loại sách", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @using QLTV.Models;
                @{
                    qlthuvien db = new qlthuvien();
                }
                @{

                    var result = from ml in db.Maloais
                                 select ml;
                }
                @Html.EditorFor(model => model.Maloaisach, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Maloaisach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenloaisach,"Tên loại sách", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenloaisach, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tenloaisach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về danh mục mã loại sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
